@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
body {
	width: max-content;
}
.navbar-default {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0px;
    margin: 0;
    border: 0;
}    
.navbar-default > .navbar-collapse > .navbar-nav > li > a {
    color: #ffffff;
}    
.navbar-default > .navbar-collapse > .navbar-nav > li > a:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}   
.navbar-default > .navbar-collapse > .navbar-nav > li.classUser, li.classCourse > a {
    font-size: 1.7rem;
    background: none;
}    
.navbar-default > .navbar-collapse > .navbar-nav >  .open > a {
    background: none;
}    
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-nav > .home {
    font-size: 4rem;
}
.navbar-nav > .home > a {
    padding-top: 13px;
}
.navbar-nav > .myClassName > a {
    font-size: 2.24rem;
    padding-top: 25px;
}
.navbar-nav > .classCurriculum > a {
    font-size: 1.7rem;
    padding-top: 25px;
}
.navbar-nav > .classCourse > a {
    font-size: 1.7rem;
    padding-top: 25px;
}
.navbar-nav > .add > a {
    font-size: 1.7rem;
    padding-top: 25px;
}
.navbar-nav > .classUser > a {
    font-size: 1.7rem;
    padding-top: 25px;
}
.navbar-nav > .myInformation > a {
    font-size: 25px;
    padding-top: 23px;
}
.navbar-nav > .myNotification > a {
    font-size: 25px;
    padding-top: 23px;
}
.dropdown-menu {
    margin: 10px auto;
}
.dropdown-menu {
    min-width: 100px; left:50%; margin-left:-50px;
    border-radius: 3px !important;
}
.dropdown-menu > li {
    width: 100%;
}
.myNotificationMenu > li {
    width: 100%;
}
.myNotificationMenu > li {
    width: 100%;
}
.dropdown-menu > li > a {
    text-align: center;
}
.dropdown-menu > li > a:hover {
    background-color: white;
    transition: 0.13s;
    font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 10px auto;
  background-color: white;
  min-width: 300px;
  padding:10px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
  color: grey;
  text-decoration: none;
}
.dropdown-content ul {
	margin-left:10px;
	padding-left:10px;
	text-align: left
}


.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
  #joincodeinput > div.modal-dialog {
    width: 350px;
  }
  #joincodeinput > div.modal-dialog {
    width: 350px;
  }
  #joincodeinput > div.modal-dialog > div.modal-body {
    padding-bottom: 0px;
  }
  #createclass > div.modal-dialog {
    width: 500px;
  }

  .modal-header {
      border: transparent;
      padding-bottom: 5px;
  }
  .modal-footer {
    border: transparent;
    padding-top: 0px;
}
  .modal-body {
      margin-top: 0px;
      padding-bottom: 0;
  }

div.teaching {
}
  
div.teaching, div.studying {
	overflow:auto;
	padding: 10px 20px 10px 20px
}

div.teaching > ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}
div.teaching > ul>li {
    float: left;
    margin: 5px;
    padding: 5px;
}
div.studying > ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin-bottom: 10px;
}
div.studying > ul>li {
    float: left;
    margin: 5px;
    padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


a, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr:last-child td {
    border-bottom: 0;
}

td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

td:first-child {
    padding-left: 0;
}

td:last-child {
    padding-right: 0;
}

p,
table {
    line-height: 1.75;
}

h1 {
    font-size: 24px;
}


.card--section {
    background-position: left;
    
    color: #FFCFCF;
}

.card--tag span {
    border: 1px solid #FFCFCF;
}

td {
    border-bottom: 2px solid #FFCFCF;
}

/* On to the cards */
.card--container {
    min-width: 300px;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 20px 30px 0 rgba(0, 32, 59, 0.12);
}

.card--section {
	height:140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.card--details {
	color:grey;
    padding: 10px;
    height: 170px;
}
.card--details ul {
	padding-left: 30px;
	margin-bottom: 10px;
	font-size: 18px;
	
}

.card--tag {
    margin-bottom: 30px;
}

.card--tag span {
    display: inline-block;
    padding: .25em .5em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}


.card--container {
    break-inside: avoid;
    margin: 40px 0;
    border-radius: 10px;
}

.card--container:first-child {
    margin-top: 0;
}

.card--container:last-child {
    margin-bottom: 0;
}
.datepick {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

p#joincodeMsg {
	margin-bottom: 0px;
}