body{
	background:#CCC;
}
.user-title{
    margin-top:40px;
    height:50px;
    background:yellowgreen;
    box-shadow:1px 1px 1px grey;
    border-bottom:1px solid grey;
}
.user-title > span {
    display:inline-block;
    /* border:1px solid red; */
    font-size :1.4em;
    font-weight:bold;
    margin:10px 10px;
}
.fa-crown{
    color:gold;
}
.user-info{
    height:50px;
    background:#eee;
    box-shadow:1px 1px 1px grey;
    border-bottom:1px solid grey;  
}
.user-pic{
    float:left;
    width:40px;
    height:40px;
    margin:5px 5px;
    border-radius:100%;
}
.user-name {
    position:absolute;
    height:30px;
    /* border:1px solid blue; */
    font-size:1.4em;
    margin:10px 50px;
}
.user-elps{
    display:block;
    /* border:1px solid red; */
    height:30px;
    float:right;
    margin-top: 13px;
    margin-right: 10px;
}
.user-elps > a {
    text-decoration:none;
    color:black;
    cursor:pointer;
}
.user-name > a {
    text-decoration:none;
    color:black;
    cursor:pointer;
}
.user-detail{
	margin: 1px 1px;
    background: white;
	
}
.user-detail > span{
	position:inline;
}

/* modal */
.modal-body{
    margin:0;
    padding:0;
}
.modal-body > div {
    margin:5px 10px;
}
.modal-ul{
    margin:0;
    padding:0;
    list-style:none;
}
.modal-ul > li {
	padding:0 5px;
    font-size:1em;
    text-align:left;
    line-height:1.8;
}
.modal-ul > li > a {
    text-decoration: none;
    color:black;
    font-size:1.5em;	
}
.modal-ul > li:hover{
    border-radius:5px;
    background-color:pink;
}
.modal-dialog{
    margin:0;
    width:auto;
    display:table;
    transition: transform .1s ease-in;
}

.modal-backdrop{
    height:100% !important;
}
a:hover{
	cursor:pointer;
} 

/* accordion css*/
.accordion-head{
    height:50px;
    background:#426e92;
    box-shadow:1px 0px 1px grey;
}
.title-name{
    font-size:1.4em;
    font-weight:bold;
}

.card-header{
    height:50px;
    background-color:white;
}

.card-header:hover{
    background-color:#dfbfc7;
}
/*subTitle */
.card-body span {
    display:inline-block;
    margin:10px;
    font-size:1.2em;
    font-weight: 500;
    line-height: 1.42857143;
   
}
.card-body{
	 box-shadow:1px 1px 1px grey;
}
.fa-envelope:before{
	cursor:pointer;
}
.fa-envelope,.fa-ellipsis-v{
	font-size:1.5em;
}
