/* modal */


i.fa-plus:hover,i.fa-ellipsis-v:hover {
	font-size:1.2em !important;
}

/*page */ 
body,html{
    margin:0;padding:0;
}
body{
    background-color:#eee;
}
.accordion{
   box-shadow:1px 1px 1px grey;
   background-color:#eff;
}
.subTitle{
    margin-top:-5px;
}
.subTitle > a {
    font-size:1.3em;
}

.accordion-head{
    height:50px;
    /* background:#426e92; */
    background:rgb(0, 121, 191);
    margin-top:30px;
    box-shadow:1px 0px 1px grey;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  
}
.title-name{
    font-size:1.4em;
    font-weight:bold;
    color:white;
}

.card-header{
    height:50px;
    background-color:white;
    padding:15px;
}
 a{
    color: black;
    text-decoration: none !important;   
}

a:hover,a:active,a:focus{
    color:grey;
}
.title{
    margin:0px 15px;
    padding-top:10px;
    height:30px;
}
.menu > a > i{
	color:white;
}
.menu{
    float:right;
    text-align:right;
}
.create{
    margin-top:50px;
    margin-bottom:30px;
}
.create-btn {
    border:none;
    background-color:#a4bdbf;
    border-radius: 15px;
    width:100px;
    height:30px;
    font-weight:bold;
    font-size:1.2em;
    box-shadow:1px 0px 1px grey;
}


/* accordion 내 css  */

.card-header:hover{
    background-color:#d4bfd4;
}
.modal-dialog > .modal-content > .modal-body{
    margin:0;
    padding:0;
}
.modal-dialog > .modal-content > .modal-body > div {
    margin:5px 10px;
}
.modal-ul{
    margin:0;
    padding:0;
    list-style:none;
}
.modal-ul > li {
    font-size:1.4em;
    text-align:left;
    line-height:1.8;
    padding:0 10px;
    cursor: pointer;
}
.modal-ul > li:hover{
    border-radius:5px;
    background-color:pink;
}
#titlePlusModal> .modal-dialog,#titleElpsModal > .modal-dialog, #subElpsModal > .modal-dialog{
    margin:0;
    width:auto;
    display:table;
    transition: transform .1s ease-in;
}
/* 크기변경 */ 
#formModal > .modal-dialog{
    margin:0; 
    transition: transform .1s ease-in;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    widto:auto;
    display:table;
}
#formModal > .modal-dialog > .modal-content > .modal-body {
	padding:15px;
}


/* .modal-backdrop{
    height:100% !important;
} */

/*subTitle */
.subTitle-context{
	margin-top:10px;
}



.card-body {
	background:white;
}
.card-body span {
    display:inline-block;
    margin:10px;
    font-size:1.2em;
    font-weight: 500;
    line-height: 1.42857143;
}
.submit-cnt-number,.total-cnt-number{
	height:70px;
	text-align:center;
	vertical-align:bottom;
	padding-top:10px;
	font-size:3em;
	font-weight:600;
}
.submit-cnt-text,.total-cnt-text{
	height:30px;
	text-align:center;
	font-size:1.2em;
	font-weight:700;
}
.subTitle-context > .col-md-8,.subTitle-context > .col-md4 {
	min-height:100px;
}
.count > .col-md-6{
	padding:0px;
	border-left:1px solid #eee;
}
