*{
    padding:0;
    margin:0;
}
body{
    background:white;
}
.bg-section{
    height:300px;
    background:url("/steach/resources/images/class/curriculum/bg1.jpg");
    /* 배경 가득 채움 */
    background-size: cover;
}
.calendar-section,.seat-section{
    margin-top:20px;
}
.calendar-setting,.seat-setting {
    margin:20px 20px;
}
.title{
    background-color:pink;
    height:35px;
}
.title > a {
    display:inline-block;
    font-size:1.2em;
    text-decoration: none;
    color:black;
    line-height: 1.43;
    margin-top:5px;  
}
#calendar,.accordion{
    margin-top:20px;
    background:white;
}
.accordion{
    border:1px solid #eee;
    box-shadow:1px 1px 1px grey;
}

.seat-section{
    height:400px;
}
